<nav class="navbar bg-body-tertiary mt-2">
    <form class="container-fluid justify-content-center mt-2">
      <div class="justify-content-center mt-5">
        <a href="{%url 'home'%}" class="btn btn-sm btn-outline-secondary" style="font-size: larger ; font-weight: bold;" type="button">Home</a>
        <a href="{%url 'education'%}" class="btn btn-outline-success me-2" style="font-size:larger ; font-weight: bold;" type="button">Education</a>
        <a href="{%url 'humanity'%}" class="btn btn-sm btn-outline-secondary" style="font-size: larger ; font-weight: bold;" type="button">Humanity</a>
        <a href="{%url 'entertaiment'%}" class="btn btn-outline-success me-2" style="font-size:larger ; font-weight: bold;" type="button">Main Entertaiment</a>
        <a href="{%url 'emmosional'%}" class="btn btn-sm btn-outline-secondary" style="font-size: larger ; font-weight: bold;" type="button">Emmossional</a>

        <a href="{%url 'sport'%}" class="btn btn-outline-success me-2" style="font-size:larger ; font-weight: bold;" type="button">Sports</a>
      </div>
    </form>
  </nav>